@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(./blocks/loader.css);
@import url(./blocks/buttons.css);
@import url(./blocks/header.css);
@import url(./blocks/menu.css);
@import url(./blocks/post.css);
@import url(./blocks/comments.css);
@import url(./blocks/user.css);
@import url(./blocks/info.css);
@import url(./blocks/album.css);
@import url(./blocks/photos.css);
@import url(./blocks/boxSearch.css);

:root{
    --color1: #333;
    --color2: #222;
    --color3: #343434;
    --iconColor: #5e91ff;
    --colorBorder: #111;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1920px;
    overflow-x: hidden;
    font-size: 1em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

h3{
    font-weight: 500;
}

h5{
    font-weight: 200;
}

p{
    font-weight: 300;
}

i{
    color: var(--iconColor);
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    padding: 0;
}

input{
    color: #fff;
    border: none;
}

input:focus{
    outline: none;
}

main{
    min-height: 100vh;
    position: relative;
    padding: .5em;
    background-color: var(--color1);
}

img{
    max-width: 100%;
}

::-webkit-scrollbar{
    border-left: 2px solid var(--colorBorder);
    width: 10px;
    height: 10px;
    background-color: var(--color2);
}
::-webkit-scrollbar-thumb {
    margin: 5px;
    border-radius: 10px;
    min-height: 50px;
    background-color: var(--iconColor);
}