.header{
    border-bottom: 1px solid var(--colorBorder);
    position: sticky;
    width: 100vw;
    top: 0;
    padding: .5em 0;
    background-color: var(--color2);
    border-bottom-style: inset;
    border-bottom: 1px solid var(--color3);
}



.hedaer__brand{
    color: var(--iconColor);
    font-weight: 500;
}

.header, .header__search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__search{
    padding: .5em;
}

.header__search, input{
    border: 1px solid var(--colorBorder);
    border-radius: 15px;
    width: clamp(200px, 1vmin, 400px);
}

.header__mid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search, input[type='search']{
    background-color: var(--color3);
}

.fa-search{
    color: var(--color2);
}

.header__search{
    position: relative;
}

@media (min-width: 768px) {
    .header > *{
        width: 33%;
        text-align: center;
    }
}