.post{
    width: clamp(300px, 100%, 550px);
    margin: 1em auto;
    border: 1px solid var(--colorBorder);
    border-radius: 20px;
    background-color: var(--color2);
}

.post__title,
.post__header,
.post__body,
.post__controls{
    padding: .5em;
}

.post__title{
    border-top: 1px solid var(--colorBorder);
    border-bottom: 1px solid var(--colorBorder);
    text-align: center;
}

.post__title::first-letter, .post__body::first-letter{
    text-transform: uppercase;
}

.post__header{
    display: flex;
    align-items: center;
}

[class *='__img']{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: .5em;
}

[class *= '__userimage']{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    border-radius: 50%;
}

[class *= '__username']:hover{
    text-decoration: underline;
}

[class *= '__username']:hover, [class *='__img']:hover{
    cursor: pointer;
}

.post__controls{
    display: flex;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid var(--colorBorder);
}

.post__controls > *{
    width: 150px;
}

.post__controls i{
    margin-right: .3em;
}

.post:last-child{
    margin-bottom: 100px;
}